*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  align-items: flex-end;
  column-gap: 30px;
  inline-size: 1140px;
}
.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: inherit;
  line-height: inherit;
}
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  width: fit-content;
  cursor: pointer;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}
.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}
.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search-form__textfield:focus {
  border: none;
}
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  appearance: none;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}
.button {
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  text-decoration: none;
  background-color: #545050;
}
.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  inline-size: 100%;
  block-size: 100%;
}
.title {
  color: #fff;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: inherit;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list {
  position: relative;
  overflow: auto;
  block-size: 298px;
}
.content__list-item:not(:last-of-type) {
  margin-block-end: 35px;
}
.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.content__card-link_current {
  background-color: #545050;
}
.content__card-link:active {
  background-color: #545050;
  cursor: none;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__video-card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
.content__video-card-description-container {
  flex-grow: 1;
}
.content__video-card-title {
  margin-block-end: 5px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 90%;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.more-button {
  width: 399px;
}
